@font-face {
  font-family: 'montserrat';
  src: url(../fonts/Montserrat/montserrat.ttf), url('../fonts/Montserrat/montserrat-webfont.woff2') format('woff2'), url('../fonts/Montserrat/montserrat-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url(../fonts/Raleway/raleway.ttf), url('raleway-regular-webfont.woff2') format('woff2'), url('raleway-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url(../fonts/Raleway/raleway-m.ttf), url('raleway-medium-webfont.woff2') format('woff2'), url('raleway-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url(../fonts/Raleway/raleway-b.ttf), url('raleway-extrabold-webfont.woff2') format('woff2'), url('raleway-extrabold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
.container {
  width: 1920px;
  margin: 0 auto;
  border: 1px solid royalblue;
}
.page-header {
  width: 1920px;
  padding: 40px 150px;
  background-image: url(../img/bg_photo.jpg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid green;
  background-color: rgba(17, 17, 17, 0.7);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.page-header-box {
  margin: 0 0 0 226px;
  height: 56px;
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page-header-logo-link {
  width: 174.54545455px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'raleway';
  font-size: 34px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.04em;
  color: #ffffff;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-header-logo-link:hover {
  color: #ffffff;
  text-decoration: none;
}
.page-header-logo-pic {
  width: 64px;
  height: 56px;
  fill: #ffffff;
}
.page-header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 220px;
}
.page-header-menu-list {
  padding: 0 33px 0 0 ;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.page-header-menu-item {
  word-break: break-all;
  list-style-type: none;
}
.page-header-menu-link {
  display: block;
  margin: 0 30px 0 0;
  text-transform: none;
  text-decoration: none;
  font-family: 'montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;
  color: #ffffff;
}
.page-header-menu-link:hover {
  text-decoration: none;
  color: #c7b299;
}
.page-header-bascet-btn {
  border: none;
  background-color: transparent;
  outline: none;
}
.page-header-bascet-pic {
  fill: #ffffff;
}
.page-header-bascet-pic:hover {
  fill: #6d6965;
}
.page-header-search-pic {
  width: 100%;
  height: 100%;
  fill: #ffffff;
}
.page-header-form-search {
  width: 24px;
  height: 24px;
  margin: 0 0 0 28px;
  position: relative;
}
.page-header-label-search {
  display: block;
  width: 100%;
  height: 100%;
}
.page-header-label-search:hover .header-search-pic {
  fill: #d3c1ad;
}
.page-header-label-search:active .header-search-pic {
  fill: #6d6965;
}
.page-header-menu-search_input {
  width: 0;
  min-height: 0;
  padding: 5px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #806f61;
  color: #ffffff;
  text-transform: capitalize;
  font-family: 'montserrat';
  font-size: 14px;
  font-weight: 300;
  border: none;
  position: absolute;
  left: 2px;
  top: 28px;
  opacity: 0.01;
}
.page-header-menu-search_input:focus {
  width: 150px;
  min-height: 20px;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
  border: 1px solid #ffffff;
  opacity: 1;
}
.page-header-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 245px 0 0 0;
}
.page-header-content-block {
  margin: 0 467px 322px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.page-header-content-headline {
  margin: 28px 0 0 0;
  font-family: 'raleway';
  font-size: 36px;
  font-weight: 500;
  line-height: 1.2;
  color: #ffffff;
}
.page-header-content-subject {
  margin: 0 0 0 0;
  font-family: 'raleway';
  font-size: 52px;
  font-weight: 800;
  line-height: 1.2;
  color: #ffffff;
}
.page-header-content-txt {
  text-align: center;
  font-family: 'montserrat';
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #ffffff;
}
.page-header-content-btn {
  margin: auto;
}
.page-header-content-link {
  width: 170px;
  min-height: 53px ;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  margin: 31px 0 0 0;
  border: none;
  border-radius: 5px;
  border-bottom: 3px solid #806f61;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  word-break: break-all;
  background-color: #998675;
  color: #ffffff;
}
.page-header-content-link:hover {
  text-transform: uppercase;
  color: #3a3a39;
  text-decoration: none;
}
.page-header-pagination {
  width: 100%;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page-header-pagination-link {
  border-radius: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 11px;
  height: 11px;
  margin: 0 10px 0 0;
  opacity: 0.5;
  background-color: #ffffff;
  border: solid 5px transparent;
}
.page-header-pagination-link:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 15px;
  height: 15px;
  border: 2px solid #d3c1ad;
  margin: 0 8px 0 0 ;
}
.page-header-control-right {
  position: absolute;
  top: 130px;
  right: -8px;
}
.page-header-control-left {
  position: absolute;
  top: 130px;
}
.page-header-control-btn {
  background-color: #444441;
  z-index: -1;
  border: none;
}
.page-header-control-btn:focus {
  z-index: 1;
}
.page-header-control {
  fill: #ffffff;
  opacity: 0.5;
}
.features {
  padding: 80px 377px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
}
.features-block {
  width: 269px;
  min-height: 213px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.features-block:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
  margin: 0 0 0 100px;
}
.features-block:hover:after {
  background-color: #c7b299;
}
.features-block:hover .features-block-pic {
  fill: #c7b299;
}
.features-block:hover .features-block-title {
  color: #c7b299;
}
.features-block-pic {
  width: 49px;
  height: 49px;
  margin: 0 auto;
  fill: #555555;
}
.features-block-title {
  margin: 20px auto 15px;
  font-family: 'raleway';
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2;
  color: #555555;
}
.features-block-txt {
  margin: 0 0 30px 0;
  font-family: 'montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: #8c8c8c;
  text-align: center;
}
.carousel {
  width: 100%;
  min-height: 694px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 33px 344px 0 344px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fbfaf8;
}
.carousel-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 37px 360px 15px;
  width: 100%;
  font-family: 'raleway';
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
  color: #555555;
}
.carousel-txt {
  width: 60%;
  margin: 0 auto 9px;
  font-family: 'montserrat';
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #8c8c8c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.carousel-multi-photo {
  width: 100%;
  min-height: 482px;
  background-image: url(../img/browser_center.png), url(../img/browser_left.png), url(../img/browser_right.png);
  background-size: 62%, 58%, 58%;
  background-repeat: no-repeat;
  background-position: bottom center, bottom left, bottom right;
}
.ad {
  width: 1920px;
  min-height: 150px;
  padding: 48px 375px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f4f5f8;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ad-content {
  width: 530px;
  height: 60px;
}
.ad-content-brend {
  font-family: 'raleway';
  font-size: 28px;
  font-weight: 400;
  line-height: 1.2;
  color: #c7b299;
}
.ad-content-title {
  margin: 0;
  font-family: 'raleway';
  font-size: 28px;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;
}
.ad-content-txt {
  margin: 0;
  font-family: 'montserrat';
  font-size: 18px;
  font-weight: 300;
  line-height: 1.2;
  color: #615855;
}
.ad-link {
  width: 170px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #998675;
  border-radius: 3px;
  text-decoration: none;
}
.ad-link-text {
  margin: auto;
  font-family: 'raleway';
  font-size: 14px;
  font-weight: 800;
  line-height: 23px;
  text-transform: uppercase;
  color: #ffffff;
}
.ad-link:hover {
  background-color: #615855 ;
  color: #c7b299;
}
.our_projects {
  width: 1920px;
  min-height: 1164px;
  padding: 40px 376px 80px;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.our_projects-title {
  margin: 23px 0 0 0;
  width: 100%;
  text-align: center;
  font-family: 'raleway';
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
  color: #555555;
}
.our_projects-txt {
  margin: 0;
  width: 769px;
  text-align: center;
  font-family: 'montserrat';
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #8c8c8c;
}
.our_projects-menu-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}
.our_projects-menu-item {
  margin: 0 10px 0 0;
  width: 120px;
  height: 32px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.our_projects-menu-item:hover {
  background-color: #998675;
}
.our_projects-menu-link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  color: #8c8c8c;
  margin: auto;
}
.our_projects-menu-link:hover {
  color: #ffffff;
}
.our_projects-box {
  width: 3730px;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.our_projects-preview {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 370px;
  height: 340px;
  margin: 0 0 30px 0;
  background-color: #fbfaf8;
  position: relative;
}
.our_projects-preview-header {
  font-family: 'raleway';
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #c7b299;
}
.our_projects-preview-header::before {
  content: "";
  border: 20px solid transparent;
  border-bottom: 14px solid #fbfaf8;
  top: 203px;
  left: 13px;
  position: absolute;
}
.our_projects-preview-txt {
  font-family: 'montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #d1d1d1;
}
.our_projects-link_load {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 40px 0 0 0;
  width: 170px;
  height: 50px;
  background-color: #998675;
  border-radius: 3px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.our_projects-link_load-txt {
  text-decoration: none;
  color: #ffffff;
  line-height: 23px;
  font-family: 'raleway';
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  margin: auto;
}
.our_projects-link_load-txt:hover {
  color: #998675;
}
.our_projects-link_load:hover {
  background-color: #ffffff;
  border: 1px solid #998675;
}
