@-width: 1920px;
@color: #ffffff;
.font(@font-family,@font-size,@font-weight){
 font-family:@font-family;
 font-size:@font-size;
 font-weight:@font-weight;
}

.container{
  width: @-width;
}
.header{
 width: @-width;
 padding: 40px 150px;
 background-image: url(../image/bg_photo.jpg);
 box-sizing: border-box;
 border: 3px solid green;
 background-color: rgba(17,17,17,0.7);
 background-size: cover;
 background-repeat: no-repeat;
 background-position:left;
 display: flex;
 flex-wrap: wrap;
  &-logo-link{
    width: @-width/4;
    box-sizing: border-box;
    display: flex;
    .font(Raleway,34px,400);
    line-height: 1.2;
    letter-spacing: -0.04em;
    color: @color;
    text-decoration: none;
    align-items: center;
    &:hover{
      color: @color;
      text-decoration: none;
    }
  }
  &-logo-pic{
    width: 64px;
    height: 56px;
  }
  &-menu{
  display: flex;
  margin: 22px 0 0 133px;
    &-list{
    padding: 0 63px 0 0 ;
    display: flex;
    box-sizing: border-box;
    }
    &-item{
    list-style-type: none;
    }
    &-link{
    display: block;
    margin: 0 30px 0 0;
    text-transform: none;
    .font(Montserrat,14px,300);
    line-height: 1.2;
    color: @color;
      &:hover{
       text-decoration: none;
       color: #c7b299;
      }
    }
  }
  &-bascet-link{
  margin: 0 28px 0 0;
  }
  &-menu-search{
  z-index: -1;
     &:hover{
  z-index: 1;
  width: 170px;
  height: 30px;
  border: none;
  margin: 0 0 0 5px;
    }
    &:focus{
      z-index: 1;
      width: 170px;
      height: 30px;
      border: none;
      margin: 0 0 0 5px;
    }
  }
  &-content{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  box-sizing: border-box;
  margin: 309px 0 0 0;
    &-block{
    margin: 0 467px 327px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    }
    
    &-headline{
      .font( Raleway,36px,500);
      line-height: 1.2;
      color: @color;
    }
    &-title{
    margin: 14px 0 19px;
    }
    &-subject{
      .font( Raleway,52px,800);
      line-height: 1.2;
      color: @color;
    }
  &-txt{
    text-align: center;
    .font( Montserrat,16px,300);
    line-height: 24px;
    color: @color;
    }
  &-btn{
    margin: 52px 0 0 0;
    width: 170px;
    height: 53px;
    background-color: #998675;
    border-radius: 3px;
    display: flex;
  }
  &-link{
    .font( Raleway,14px,800);
    line-height: 23px;
    text-transform: uppercase;
    color: @color;
    margin: auto;
    &:hover{
      text-transform: uppercase;
      color: #3a3a39;
      text-decoration: none;
    }
  }
  }
  &-pagination{
    width: 100%;
    height: 15px;
    display: flex;
    justify-content: center;
  }
  &-control-right{
  position: absolute;
  top: 77px;
  right: 1px;
  }
  &-control-left{
  position: absolute;
  top: 76px;
  }
  &-control-btn{
  background-color: #444441;
  z-index: -1;
  border: none;
    &:focus{
    z-index: 1;
    }
  }
  &-control {
  fill: @color;
  opacity: 0.5;
  }
}


input[type="radio"]{
  position: relative;
  box-sizing: border-box;
  width: 11px;
  height: 11px;
  margin: 0 10px 0 0;
  opacity: 0.5;
  background-color: @color;
  border: solid 5px transparent;
  
  &:hover{
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border: 2px solid #d3c1ad;
    margin: 0 8px 0 0 ;
  }
 
}
